# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
out
dist
build

# Development
.env
.env.local
.env.development
.env.production

# IDE
.idea
.vscode
*.swp
*.swo

# Git
.git
.gitignore

# Misc
*.log
.DS_Store
Thumbs.db

# Test
coverage
.nyc_output
